.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  flex: 1 1 30%;
  background-color: blue;
}
.question {
  text-align: center;
  font-size: large;
}

.bookmark {
  position: absolute;
  top: -5%;
  left: 80%;
  z-index: 1;
  border: 1px solid #2e016d;
  background-color: #3f0097;
}

.Answer {
  font-size: large;
  color: black;
  display: none;
}

.show-answer {
  display: inline-block;
  align-self: center;
  padding: 6px 12px;
  border: 2px solid black;
  font-size: medium;
  box-sizing: border-box;
}

.hide-answer {
  display: inline-block;
  align-self: center;
  padding: 6px 12px;
  border: 2px solid black;
  font-size: medium;
  box-sizing: border-box;
}

.hide-answer {
  display: none;
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.tag {
  background-color: lightgray;
  padding: 6px 12px;
  border-radius: 10px;
  border-color: black;
  border: 2px solid black;
  font-size: small;
  display: inline-block;
}
