* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
}
.footer1 {
  position: fixed;
  bottom: 0;
  left: = 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #0d3b66;
  padding: 2%;
  z-index: 10;
}
.footer-icon {
  filter: invert(96%) sepia(9%) saturate(469%) hue-rotate(35deg)
    brightness(102%) contrast(95%);
  width: 30px;
  height: 30px;
}
.footer-icon:hover {
  filter: invert(49%) sepia(82%) saturate(4344%) hue-rotate(340deg)
    brightness(98%) contrast(104%);
  width: 30px;
  height: 30px;
}
