* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
}
.footer1 {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: #0d3b66;
  padding: 2%;
  z-index: 10;
}
.footer-icon {
  width: 30px;
  height: 30px;
}
