.footer1 {
  position: fixed;
  background-color: lightgray;
  border-color: black;
  border-top: 3px solid black;
  display: inline-block;
}
.footer-icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}
